In [97]:
from data_processing import *

In [98]:
translated_filtered, not_translated_filtered = merge_pages()

/Users/markokostiv/ucu/mining_datasets/wiki/data_processing.py:12: RuntimeWarning: Mean of empty slice
  average = data.drop(columns=["page_id", "title"]).apply(lambda x: np.nanmean(x), axis=1)

(141702, 12)
(73566, 12)

In [131]:
translated_filtered.head()

,wikidata,title,page_id,len,rev_count,image_links_count,translations_count,days_old,contributions,outgoing_links_count,incoming_links_count,average_views
0,371,!!!,425480,3953,28,2.0,25.0,3399,21,36,7,43.333333
1,1622767,!T.O.O.H.!,425157,3031,14,2.0,7.0,3400,13,20,4,23.000000
2,1075363,'39,2014472,8083,12,4.0,14.0,1044,4,148,109,51.333333
3,3153272,(ISC)²,2699656,10572,14,1.0,5.0,95,2,13,2,68.000000
4,2610124,(if),550621,2433,17,7.0,2.0,3190,12,18,4,15.666667

In [100]:
not_translated_filtered.head()

,wikidata,title,page_id,len,rev_count,image_links_count,translations_count,days_old,contributions,outgoing_links_count,incoming_links_count,average_views
0,4027682,!ФЕСТ,432740,21769,200,10.0,1.0,3383,68,75,18,501.833333
1,12061550,!Чидро,590602,2365,12,4.0,NaN,3145,10,13,3,22.666667
2,30196568,$uicideboy$,2610007,4878,9,2.0,6.0,207,6,14,1,421.500000
3,11511,&RQ,156371,4659,22,2.0,2.0,4110,16,112,49,46.166667
4,25447349,'Cichlasoma',357578,6104,55,3.0,NaN,3598,17,65,6,16.500000

In [101]:
translated_data = translated_filtered.drop(columns = ["wikidata", "page_id"])
not_translated_data = not_translated_filtered.drop(columns = ["wikidata", "page_id"])

In [102]:
translated_data.corr()

,len,rev_count,image_links_count,translations_count,days_old,contributions,outgoing_links_count,incoming_links_count,average_views
len,1.000000,0.644435,0.428837,0.270070,0.104303,0.560967,0.142372,0.155882,0.450935
rev_count,0.644435,1.000000,0.450972,0.547634,0.439663,0.910353,0.223728,0.279449,0.621968
image_links_count,0.428837,0.450972,1.000000,0.371794,0.044703,0.407156,0.143455,0.163900,0.298734
translations_count,0.270070,0.547634,0.371794,1.000000,0.488521,0.639829,0.160382,0.232052,0.371383
days_old,0.104303,0.439663,0.044703,0.488521,1.000000,0.577900,0.216062,0.117044,0.212470
contributions,0.560967,0.910353,0.407156,0.639829,0.577900,1.000000,0.186291,0.261683,0.654638
outgoing_links_count,0.142372,0.223728,0.143455,0.160382,0.216062,0.186291,1.000000,0.215438,0.028007
incoming_links_count,0.155882,0.279449,0.163900,0.232052,0.117044,0.261683,0.215438,1.000000,0.308960
average_views,0.450935,0.621968,0.298734,0.371383,0.212470,0.654638,0.028007,0.308960,1.000000

In [103]:
not_translated_data.corr()

,len,rev_count,image_links_count,translations_count,days_old,contributions,outgoing_links_count,incoming_links_count,average_views
len,1.000000,0.560718,0.253615,0.099614,0.041610,0.445907,0.320793,0.079337,0.196741
rev_count,0.560718,1.000000,0.270061,0.166016,0.372443,0.844679,0.325352,0.144234,0.387780
image_links_count,0.253615,0.270061,1.000000,0.092900,0.072829,0.276713,0.383705,0.112423,0.049438
translations_count,0.099614,0.166016,0.092900,1.000000,0.028962,0.226507,0.070702,0.141684,0.232416
days_old,0.041610,0.372443,0.072829,0.028962,1.000000,0.572557,0.084796,0.058195,0.108801
contributions,0.445907,0.844679,0.276713,0.226507,0.572557,1.000000,0.357756,0.175227,0.412664
outgoing_links_count,0.320793,0.325352,0.383705,0.070702,0.084796,0.357756,1.000000,0.278069,0.066740
incoming_links_count,0.079337,0.144234,0.112423,0.141684,0.058195,0.175227,0.278069,1.000000,0.124819
average_views,0.196741,0.387780,0.049438,0.232416,0.108801,0.412664,0.066740,0.124819,1.000000

In [104]:
def normalize(data):
    columns = ["rev_count", "image_links_count", "days_old", "contributions", "average_views", "translations_count", "incoming_links_count", "outgoing_links_count"]
    for column in columns:
        data[column] = data[column]/data[column].max()

normalize(not_translated_data)
normalize(translated_data)

In [105]:
from sklearn.model_selection import train_test_split

In [106]:
translated_data['class'] = 1
not_translated_data['class'] = 0

data = pd.concat([translated_data, not_translated_data])
data.fillna(0, inplace=True)
data.head()

,title,len,rev_count,image_links_count,translations_count,days_old,contributions,outgoing_links_count,incoming_links_count,average_views,class
0,!!!,3953,0.009428,0.005682,0.086505,0.642898,0.030129,0.018036,0.000040,0.000668,1
1,!T.O.O.H.!,3031,0.004714,0.005682,0.024221,0.643087,0.018651,0.010020,0.000023,0.000355,1
2,'39,8083,0.004040,0.011364,0.048443,0.197465,0.005739,0.074148,0.000630,0.000792,1
3,(ISC)²,10572,0.004714,0.002841,0.017301,0.017969,0.002869,0.006513,0.000012,0.001049,1
4,(if),2433,0.005724,0.019886,0.006920,0.603367,0.017217,0.009018,0.000023,0.000242,1

In [107]:
columns_to_drop = ['class', 'title', 'rev_count']

labels = data['class']
dataset = data.drop(columns=columns_to_drop, axis = 1)
dataset.head()

,len,image_links_count,translations_count,days_old,contributions,outgoing_links_count,incoming_links_count,average_views
0,3953,0.005682,0.086505,0.642898,0.030129,0.018036,0.000040,0.000668
1,3031,0.005682,0.024221,0.643087,0.018651,0.010020,0.000023,0.000355
2,8083,0.011364,0.048443,0.197465,0.005739,0.074148,0.000630,0.000792
3,10572,0.002841,0.017301,0.017969,0.002869,0.006513,0.000012,0.001049
4,2433,0.019886,0.006920,0.603367,0.017217,0.009018,0.000023,0.000242

In [108]:
X_train, X_test, y_train, y_test = train_test_split(dataset, labels.values, test_size=0.8, random_state=42)

In [109]:
from xgboost import XGBClassifier

In [110]:
xgb_classifier = XGBClassifier()
xgb_classifier.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [111]:
from sklearn.svm import SVC

In [112]:
svm_classifier = SVC()
svm_train = [-1 if y == 0 else 1 for y in y_train]
svm_classifier.fit(X_train, svm_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [113]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

def predict(model, x_test):
    y_pred = model.predict(X_test)
    predictions = [round(value) for value in y_pred]
    return predictions

def evaluate_results(y_test, predictions):
    accuracy = accuracy_score(y_test, predictions)
    matrix = confusion_matrix(y_test, predictions)
    return accuracy, matrix

In [129]:
# 94.17 with contributions
# 94.12 with rev_count
predictions = predict(xgb_classifier, X_test)
accuracy, matrix = evaluate_results(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))
print(matrix)

/usr/local/lib/python3.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

Accuracy: 99.18%
[[ 58053    936]
 [   481 112745]]

In [115]:
# 74.74 with contributions
# 74.40 with rev_count
predictions = predict(svm_classifier, X_test)
svm_test = [-1 if y == 0 else 1 for y in y_test]
accuracy, matrix = evaluate_results(svm_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))
print(matrix)

Accuracy: 69.80%
[[21339 37650]
 [14353 98873]]

In [116]:
from sklearn.dummy import DummyClassifier
dummy_classifier = DummyClassifier()
dummy_classifier.fit(X_train, y_train)

predictions = predict(dummy_classifier, X_test)
accuracy, matrix = evaluate_results(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))
print(matrix)

Accuracy: 55.19%
[[20103 38886]
 [38281 74945]]

In [117]:
# svm_linear_classifier = SVC(kernel = "linear")
# svm_linear_classifier.fit(X_train, svm_train)

In [118]:
# predictions = predict(svm_linear_classifier, X_test)
# svm_test = [-1 if y == 0 else 1 for y in y_test]
# accuracy, matrix = evaluate_results(svm_test, predictions)
# print("Accuracy: %.2f%%" % (accuracy * 100.0))
# print(matrix)

In [119]:
from sklearn.cluster import KMeans

In [120]:
cluster_data = translated_data.drop(columns=columns_to_drop)
cluster_data.fillna(0, inplace=True)

print(cluster_data.head())
k_means = KMeans(n_clusters=1, random_state=0).fit(cluster_data)

     len  image_links_count  translations_count  days_old  contributions  \
0   3953           0.005682            0.086505  0.642898       0.030129
1   3031           0.005682            0.024221  0.643087       0.018651
2   8083           0.011364            0.048443  0.197465       0.005739
3  10572           0.002841            0.017301  0.017969       0.002869
4   2433           0.019886            0.006920  0.603367       0.017217

   outgoing_links_count  incoming_links_count  average_views
0              0.018036              0.000040       0.000668
1              0.010020              0.000023       0.000355
2              0.074148              0.000630       0.000792
3              0.006513              0.000012       0.001049
4              0.009018              0.000023       0.000242

In [121]:
k_means.cluster_centers_

array([[6.35687887e+03, 1.61644243e-02, 9.42832463e-02, 4.72605819e-01,
        1.91532144e-02, 8.43511592e-02, 1.10942533e-03, 1.76173991e-03]])

In [122]:
ranking_data = not_translated_data
ranking_data.fillna(0, inplace=True)
ranking_data.head()

,title,len,rev_count,image_links_count,translations_count,days_old,contributions,outgoing_links_count,incoming_links_count,average_views,class
0,!ФЕСТ,21769,0.280505,0.057471,0.009615,0.640356,0.348718,0.080386,0.000849,0.034385,0
1,!Чидро,2365,0.016830,0.022989,0.000000,0.595306,0.051282,0.013934,0.000142,0.001553,0
2,$uicideboy$,4878,0.012623,0.011494,0.057692,0.039182,0.030769,0.015005,0.000047,0.028880,0
3,&RQ,4659,0.030856,0.011494,0.019231,0.777967,0.082051,0.120043,0.002313,0.003163,0
4,'Cichlasoma',6104,0.077139,0.017241,0.000000,0.681052,0.087179,0.069668,0.000283,0.001131,0

In [123]:
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics.pairwise import euclidean_distances

the_best_translated = k_means.cluster_centers_.reshape(1,-1)

def similarity(features):
    the_best_translated = k_means.cluster_centers_.reshape(1,-1)
    features = features.drop(labels=columns_to_drop, axis=0).values
    features = features.reshape(1,-1)
    similarity = cosine_similarity(features, the_best_translated)
    return similarity

# sim = similarity(np.array([0, 0, 0, 0, 0]))
ranking_with_similarity = ranking_data.copy()
ranking_with_similarity['xgb_ranking'] = xgb_classifier.predict_proba(ranking_data.drop(labels=columns_to_drop, axis=1))[:,[1]]
# ranking_with_similarity['svm_ranking'] = svm_classifier.predict_proba(ranking_data.drop(labels=columns_to_drop, axis=1))[:,[1]]
ranking_with_similarity['cosine_ranking'] = ranking_data.apply(lambda row: similarity(row), axis=1)

In [124]:
ranking_with_similarity.sort_values('cosine_ranking', ascending = False).head()

,title,len,rev_count,image_links_count,translations_count,days_old,contributions,outgoing_links_count,incoming_links_count,average_views,class,xgb_ranking,cosine_ranking
16370,Блатноград,4479,0.011220,0.022989,0.067308,0.335794,0.010256,0.041801,0.000236,0.001496,0,0.236504,[[0.9999999999884128]]
49966,Палімбія,4641,0.018233,0.017241,0.057692,0.331440,0.025641,0.055734,0.000094,0.001542,0,0.545583,[[0.9999999999881772]]
28771,Ейягаміль,1821,0.007013,0.005747,0.019231,0.136475,0.010256,0.022508,0.000283,0.000514,0,0.057490,[[0.999999999986667]]
72069,Шугнанці,3964,0.004208,0.011494,0.048077,0.304751,0.015385,0.038585,0.001510,0.000948,0,0.145419,[[0.9999999999864234]]
666,Eurypoda,3313,0.011220,0.011494,0.038462,0.254779,0.015385,0.035370,0.000189,0.001142,0,0.121336,[[0.9999999999864074]]

In [125]:
# ranking_with_similarity.sort_values('svm_ranking', ascending = False).head()

In [126]:
final_results = ranking_with_similarity.sort_values('xgb_ranking', ascending = False)

In [127]:
final_results = final_results.drop(columns="cosine_ranking")
final_results.to_csv("ranking_final_results.csv", index = False)

In [128]:
final_results.head()

,title,len,rev_count,image_links_count,translations_count,days_old,contributions,outgoing_links_count,incoming_links_count,average_views,class,xgb_ranking
25900,Даманові,11985,0.009818,0.057471,0.153846,0.494416,0.015385,0.108253,0.000472,0.002535,0,0.992568
24715,Гребінцеві,7266,0.039271,0.045977,0.221154,0.831535,0.046154,0.114684,0.000849,0.007194,0,0.986158
41502,Лінгвоцид,26437,0.137447,0.017241,0.105769,0.932993,0.230769,0.060021,0.000849,0.019905,0,0.984979
49653,П'ятирічка,8020,0.032258,0.000000,0.201923,0.741435,0.030769,0.049303,0.001557,0.056779,0,0.983339
57678,Сартлан,11054,0.021038,0.028736,0.086538,0.641681,0.051282,0.056806,0.000236,0.000845,0,0.981251

In [168]:
# Evaluation:
# We take 1000 random translated pages, merge them with not translated
# and trying to predict weather their class
# As we can see in the result, our model correctly predicts them as translated
# and ranks them on the top of our list (92.9% recall)
translated_pages = translated_data[translated_data["class"] == 1].sample(1000)

In [172]:
data = pd.concat([translated_pages, ranking_data])
data.head()
data_ranking = data.copy()

In [179]:
data_ranking['xgb_ranking'] = xgb_classifier.predict_proba(data.drop(labels=columns_to_drop, axis=1))[:,[1]]
data_ranking = data_ranking.sort_values('xgb_ranking', ascending = False)

In [182]:
merged = pd.merge(data_ranking[:1000], translated_pages[:1000], how='inner', on=['title']).shape

In [188]:
print("Recall - {}%".format(merged[0] / 1000 * 100))

Recall - 92.9%