In [3]:
from sqlalchemy import create_engine
import sys, os
import pandas as pd

constr = 'mysql+pymysql://{user}:{pwd}@{host}'.format(user=os.environ['MYSQL_USERNAME'],
                                                      pwd=os.environ['MYSQL_PASSWORD'],
                                                      host=os.environ['MYSQL_HOST'])
con = create_engine(constr)

Here we tried to get articles with category 'Articles_needing_translation_from_Ukrainian_Wikipedia'.   
Our goal was to use them as a ground thruth.  
Unfortunately, we saw that in our dataset there are no articles with this category.

In [4]:
q = """
select *
from enwiki_p.categorylinks as cl
where cl.cl_to = 'Articles_needing_translation_from_Ukrainian_Wikipedia'
"""

In [166]:
df = pd.read_sql(q, con)

In [167]:
df.count()

cl_from              311
cl_to                311
cl_sortkey           311
cl_timestamp         311
cl_sortkey_prefix    311
cl_collation         311
cl_type              311
dtype: int64

In [157]:
q = """
select distinct cl.cl_to
from ukwiki_p.categorylinks as cl
where cl.cl_to like %s limit 100;
"""

In [158]:
df1 = pd.read_sql(q, con, params=('%needing_translation%', ))

In [159]:
df1.head(50)

Empty DataFrame
Columns: [cl_to]
Index: []