In [3]:
from sqlalchemy import create_engine
import sys, os
import pandas as pd

constr = 'mysql+pymysql://{user}:{pwd}@{host}'.format(user=os.environ['MYSQL_USERNAME'],
                                                      pwd=os.environ['MYSQL_PASSWORD'],
                                                      host=os.environ['MYSQL_HOST'])
con = create_engine(constr)

In [4]:
q = """
select *
from enwiki_p.categorylinks as cl
where cl.cl_to = 'Articles_needing_translation_from_Ukrainian_Wikipedia'
"""

In [166]:
df = pd.read_sql(q, con)

In [167]:
df.count()

cl_from              311
cl_to                311
cl_sortkey           311
cl_timestamp         311
cl_sortkey_prefix    311
cl_collation         311
cl_type              311
dtype: int64

In [ ]:
df.to_csv('all_uk_pages.csv', index=False)

In [157]:
q = """
select distinct cl.cl_to
from ukwiki_p.categorylinks as cl
where cl.cl_to like %s limit 100;
"""

In [158]:
df1 = pd.read_sql(q, con, params=('%needing_translation%', ))

In [159]:
df1.head(50)

Empty DataFrame
Columns: [cl_to]
Index: []

In [185]:
q = """
select *
from ukwiki_p.langlinks as lg
where lg.ll_lang = 'en'
limit 100;
"""

In [186]:
df2 = pd.read_sql(q, con)

In [23]:
q = """
select r.rev_page as page_id, min(r.rev_timestamp) as first_edit
from ukwiki_p.revision as r
join ukwiki_p.page as p
on p.page_id = r.rev_page
group by r.rev_page;
"""

In [24]:
df = pd.read_sql(q, con)

In [41]:
df.first_edit[0]

'20031020122701'

In [40]:
pd.to_datetime(df.first_edit[0], format="%Y%m%d%H%M%S")

Timestamp('2003-10-20 12:27:01')

In [44]:
df['first_edit'] = pd.to_datetime(df['first_edit'], format="%Y%m%d%H%M%S")

In [57]:
df.head()

   page_id          first_edit
0        1 2003-10-20 12:27:01
1        2 2003-12-23 09:53:53
2        3 2003-12-27 00:45:00
3        4 2003-10-20 12:19:03
4        6 2003-10-15 10:51:10

In [58]:
df.to_csv('first_edit_all_uk_pages.csv', index=False)