In [1]:
from sqlalchemy import create_engine
import sys, os
import pandas as pd

constr = 'mysql+pymysql://{user}:{pwd}@{host}'.format(user=os.environ['MYSQL_USERNAME'],
                                                      pwd=os.environ['MYSQL_PASSWORD'],
                                                      host=os.environ['MYSQL_HOST'])
con = create_engine(constr)

In [10]:
q = """
select 
    ll.ll_from as page_id, 
    count(*) as translations_count
from ukwiki_p.langlinks as ll
join ukwiki_p.page as p
    on p.page_id = ll.ll_from
    and p.page_namespace = 0
group by 
   ll.ll_from;
"""

In [11]:
df = pd.read_sql(q, con)

In [ ]:
df.head()

In [12]:
df.to_csv('number_of_translations.csv', index=False)

In [13]:
print("Done")

Done

In [14]:
q = """
select 
    il_from as page_id,
    count(*) as image_links_count
from 
    ukwiki_p.imagelinks il
join ukwiki_p.page as p
    on p.page_id = il.il_from
    and p.page_namespace = 0
group by il.il_from;
"""
df2 = pd.read_sql(q, con)
df2.head()

   page_id  image_links_count
0        3                 47
1       13                 34
2      584                 12
3      585                  2
4      586                  1

In [19]:
df2.to_csv('number_of_imagelinks.csv', index=False)

In [20]:
print("Done")

Done

In [17]:
df.shape

(644691, 2)

In [18]:
df2.shape

(740231, 2)

In [2]:
q = """
select 
    pl_title as target_title,
    count(*) as referring_pages_count
from 
    ukwiki_p.pagelinks 
where 
    pl_from_namespace = 0 and 
    pl_namespace = 0 
group by 
    target_title
"""
df3 = pd.read_sql(q, con)
print(df3.shape)

(2978728, 2)

In [3]:
df3.head()

                                        target_title  referring_pages_count
0                                               b'!'                      1
1                                              b'!!'                      1
2                                             b'!!!'                      7
3  b'!!!_(\xd0\xb0\xd0\xbb\xd1\x8c\xd0\xb1\xd0\xb...                      1
4                                   b'!Action_Pact!'                      4

In [ ]:
df3.to_csv("count_of_incoming_links.csv", index=False)

In [ ]:
print("done")